// HEADER :: START
header.header
  .container
    .header__wrapper
      .header__logo
        i.icon.icon-logo
      .header__hamburger
        .hamburger.hamburger--squeeze
          span.hamburger-box
            span.hamburger-inner


.mobile-navi
  .mobile-navi__wrapper
    ul.mobile-navi__menu
      li
        a(href="#") Something here
      li
        a(href="#") here
      li
        a(href="#") and here
// HEADER :: END
