// HEADER :: START
header.header
  .container
    .header__wrapper
      .header__logo
        i.icon.icon-logo
      .header__hamburger
        .hamburger.hamburger--spring
          span.hamburger-box
            span.hamburger-inner

        
// HEADER :: END
