---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  .download
    .container.container--flex
      .download__title Magic сamera <br> for magical trips
      .download__app
        span To book a Relonch Camera for your upcoming trip download Relonch app.
        a(href="#")
          i.icon.icon-appStore
