---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block header
  include components/_header2
block content
  .order
    .container.container--flex
      .order__title Magic сamera <br> for magical trips
      .order__form
        .order__row
          .order__col
            .order__input(js-action data-action="order-from")
              .order__input-placeholder
                +icon('ico-planeFrom')
                span FROM
              .order__input-data
                span 
                span 
                
          .order__col
            .order__input(js-action data-action="order-to")
              .order__input-placeholder
                +icon('ico-planeTo')
                span TO
              .order__input-data
                span 
                span 
        .order__row
          .order__col
            .order__input.order__input--small(js-action data-action="order-date")
              .order__input-placeholder
                +icon('ico-date')
                span DATE
              .order__input-data(js-paste-date-summary)
                span
                | -
                span
                
          .order__col
            .order__input.order__input--small(js-action data-action="order-who")
              .order__input-placeholder
                +icon('ico-who')
                span WHO
              .order__input-data
                span 
                
        .order__cta
          button(type='submit' js-process-booking).btn.btn--cta.btn--block Book a camera
  
  // ACTIONS :: START
  .action(data-action="order-from")
    .action__wrapper
      .action__close(js-close)
        +icon('ico-close')
      .destination-search
        input(placeholder="From where?" js-search-autocompleate)
      .destination-results
        .destination-results__head Popular location
        .destination-results__card(data-location='sfo')
          span San Francisco
          span SFO
        .destination-results__card(data-location='lax')
          span Los Angeles
          span LAX  
        .destination-results__card(data-location='jfk')
          span New-York
          span JFK  
        .destination-results__card(data-location='atl')
          span Atlanta
          span ATL  
        .destination-results__card(data-location='ord')
          span Chicago
          span ORD  
        .destination-results__card(data-location='den')
          span Denver
          span DEN  
          
  // ORDER TO
  .action(data-action="order-to")
    .action__wrapper
      .action__close(js-close)
        +icon('ico-close')
      .destination-search
        input(placeholder="where to?" js-search-autocompleate)
      .destination-results
        .destination-results__head Popular location
        .destination-results__card(data-location='sfo')
          span San Francisco
          span SFO
        .destination-results__card(data-location='lax')
          span Los Angeles
          span LAX  
        .destination-results__card(data-location='jfk')
          span New-York
          span JFK  
        .destination-results__card(data-location='atl')
          span Atlanta
          span ATL  
        .destination-results__card(data-location='ord')
          span Chicago
          span ORD  
        .destination-results__card(data-location='den')
          span Denver
          span DEN  
          
  // ORDER TO
  .action(data-action="order-date")
    .action__wrapper
      .action__close(js-close)
        +icon('ico-close')
      
      .calendar-summary
        .calendar-summary__start(js-paste-start-date) start date
        | - 
        .calendar-summary__end(js-paste-end-date) end date
        .calendar-summary__days(js-calc-days)
          
      .calendar
        div(js-datepicker)
      
      .calendar-cta
        button(type='submit' js-apply-date).btn.btn--apply.btn--block Apply

  // WHO
  .action.action--simple(data-action="order-who")
    .action__bg
    .action__wrapper(js-closable-wrapper)
      .selector
        .selector__option(data-option="Couple" js-select-who) 
          span Couple
          +icon('ico-checkmark')
        
        .selector__option(data-option="Family" js-select-who)
          span Family
          +icon('ico-checkmark')
       
    
  
  // GET ID
  .order-name
    .order-name__wrapper
      .order-name__title Enter your Instagram nickname
      .order-name__subtitle that we can use to contact you and clarify details
      form(action="" js-validate-order-name).order-name__form
        input(type="text" placeholder="Your instagram nickname")
        button(type="submit").btn.btn--insta.btn--block finish Booking
        
  // GET ID
  .order-number
    .order-number__wrapper
      .order-number__title Your order number is
      .order-number__number(js-paste-booking-number) 2345
      .order-number__description Make sure to follow Relonch in Instagram. Copy your order number and send us a message in Instagram Direct.
      .order-number__cta
        button(js-copy-clipboard).btn.btn--cta Copy To Clipboard

      
