// HEADER
.header
  position: absolute
  top: 20px
  left: 0
  right: 0
  z-index: 10
  color: white
  &__wrapper
    display: flex
    align-items: center
  &__logo
    flex: 0 0 auto
  &__info
    margin-left: auto
    flex: 0 1 auto
    font: 14px
    font-weight: 500
    text-transform: uppercase
