.order
  flex: 1 0 auto
  display: flex
  flex-direction: column
  position: relative
  background: url('../img/orderBg.png') no-repeat center
  background-size: cover
  color: white
  padding: 80px 0 30px 0
  &__title
    text-align: center
    font-size: 30px
    line-height: 1.1
  &__form
    margin-top: auto
  &__row
    display: flex
    margin-left: -3px
    margin-right: -3px
  &__col
    flex: 0 0 50%
    width: 50%
    padding: 3px
  &__input
    position: relative
    background: white
    border-radius: 3px
    min-height: 64px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: all $transitionSpeed $ease
    &--small
      min-height: 44px
      .order__input-placeholder
        span
          font-size: 14px
    &-placeholder
      position: absolute
      top: 50%
      left: 50%
      transform: translate3d(-50%,-50%,0)
      display: flex
      align-items: center
      color: #A2A5A9
      text-transform: uppercase
      transition: all $transitionSpeed $ease
      .ico
        font-size: 16px
        margin-right: 7px
        &.ico-date
          font-size: 18px
          margin-right: 10px
        &.ico-who
          font-size: 13px
          margin-right: 5px
      span
        font-size: 18px
    &-data
      position: absolute
      top: 50%
      left: 50%
      width: 100%
      transform: translate3d(-50%,-50%,0)
      opacity: 0
      pointer-events: none
      text-align: center
      overflow: hidden
      transition: all $transitionSpeed $ease
      span
        display: inline-block
        width: 100%
        &:first-child
          display: block
          font-size: 18px
          font-weight: 600
          color: $fontColor
        &:last-child
          +text-overflow
          padding-left: 10px
          padding-right: 10px
          font-size: 12px
          color: $colorMute
    &.is-filled
      .order__input-placeholder
        opacity: 0
        pointer-events: none
      .order__input-data
        opacity: 1
        pointer-events: all
    &:hover
      transform: translate3d(0,-3px,0) scale(1.03)
    // &--small:hover
    //   transform: translate3d(0,5px,0)
  &__cta
    margin-top: 3px


// actions
.action
  position: absolute 0
  z-index: 20
  background: white
  opacity: 0
  transform: translate3d(0,-100%,0)
  pointer-events: none
  transition: all $transitionSpeed $ease
  &__wrapper
    position: relative
    display: flex
    flex-direction: column
  &__close
    display: inline-block
    position: absolute
    padding: 10px
    top: 10px
    left: 5px
    z-index: 2
    font-size: 13px
    cursor: pointer
    color: #17191C
    transition: all $transitionSpeed $ease
    &:hover
      color: $colorMute

  &.is-active
    opacity: 1
    transform: translate3d(0,0,0)
    pointer-events: all

.destination-search
  margin-top: 45px
  input
    display: block
    width: 100%
    border: 0
    border-bottom: 1px solid #E6E6E6
    font-size: 30px
    padding: 15px
    text-transform: uppercase
    &::placeholder
      color: $colorMute

.destination-results
  padding: 30px 15px 0 15px
  overflow-y: auto
  &__head
    font-size: 12px
    margin-bottom: 8px
    font-weight: 600
    text-transform: uppercase
    color: $colorMute
  &__card
    display: flex
    align-items: center
    padding: 12px 0
    font-size: 18px
    color: #424850
    cursor: pointer
    span
      &:first-child
        +text-overflow

      &:last-child
        flex: 0 0 auto
        margin-left: auto
        color: $colorMute


.calendar-summary
  display: flex
  align-items: center
  font-size: 18px
  font-weight: 500
  padding: 16px 15px 16px 55px
  text-transform: uppercase
  &__start
    margin-right: 5px

  &__end
    margin-left: 5px

  &__days
    color: #FFB800
    margin-left: 15px

.calendar-cta
  padding: 15px
