.ico-appStore {
  width: 3.08em;
  height: 1em;
  fill: none;
}
.ico-checkmark {
  width: 1.27em;
  height: 1em;
  fill: #424850;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #17191C;
}
.ico-date {
  width: 0.89em;
  height: 1em;
  fill: #424850;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-planeFrom {
  width: 1em;
  height: 1em;
  fill: #C6C8CB;
}
.ico-planeTo {
  width: 1em;
  height: 1em;
  fill: #C6C8CB;
}
.ico-who {
  width: 1.54em;
  height: 1em;
  fill: #C6C8CB;
}
